* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 80px;
  background-color: rgb(50, 50, 50);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
}

.headerLeft {
  width: 50%;
  height: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
  /* padding: 50px; */
}

.headerLeft h3 {
  color: white;
  font-size: 30px;
  margin-left: 70px;
}

.headerRight {
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.headerRight ul {
  display: flex;
  font-size: 20px;
}

.headerRight ul li {
  list-style: none;
  margin-right: 20px;
}

.headerRight ul li a {
  text-decoration: none;
  color: grey;
  font-size: medium;
}

.headerRight ul li a:hover {
  color: white;
}

.imageDiv {
  width: 100%;
  height: 620px;

  background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTqnPC4Jq5BXf5OKGCGQHlXBtAGW0bS3sncSzlKiB0t1ebYRV1l);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-size: 60px;
  font-weight: 400;
  text-shadow: 2px 2px 4px black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

p {
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 4px black;
}
button {
  color: white;
  background-color: rgb(24, 75, 215);
  padding: 0.5%;
  margin-top: 30px;
  border-radius: 5px;
}

