* {
  box-sizing: border-box;
}
.container {
  width: 500px;
  height: 400px;
  border: 2px solid black;
}
.header {
  background-color: red;
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.nav {
  background-color: skyblue;
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
#left {
  width: 300px;
  float: left;
}
.section {
  background-color: orange;
  border: 1px solid black;
  margin: 5px 10px 12px 10px;
  padding: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.article {
  background-color: orangered;
  border: 1px solid black;
  margin: 5px 10px 2px 10px;
  padding: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.aside {
  background-color: pink;
  border: 1px solid black;

  margin: 15px 10px 1px 10px;
  /* margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 50px; */
  padding: 75px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.footer {
  background-color: grey;
  border: 1px solid black;
  margin: 10px;
  padding: 16px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
