* {
    margin: 0%;
    padding: 0%;
}

.box {
    background-color: blueviolet;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    /* border-width: 2px; 
    border-style: solid;
    border-color: black; */
    border: 2px solid black;

    position: absolute;
    animation-name: MyAnimation;
    animation-duration: 3s;
    animation-iteration-count: 2;
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHfHiyOloX1rsAJzGzliCugWA955HUAv4fqA&s);
    background-repeat: no-repeat;
    background-si; */
}

@keyframes MyAnimation{
    0% {
        left: 0;
        top: 0;
    }
    25% {
        left: 900px;
        top: 0;
    }
    50% {
        top: 700px;
        left: 900px;
        background-color: red;
        border-radius: 50%;
        transform: scale(2) rotate(300deg);
    }
    75% {
        top: 700px;
        left: 0px;
    }
    100% {
        top: 50px;
        left: 0px;
    }  
}


#line1{
    width: 5px;
    height: 300px;
    background-color: red;

    transform: translateX(400px) translateY(400px) rotate(30deg);
}
#line2{
    width: 5px;
    height: 300px;
    background-color: red;

    transform: translateX(455px) translateY(150px) rotate(60deg);
}
